* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

/* ..............
Navbar css start        
................. */
#navbar {
  padding: 20px 0;
  background-color: goldenrod;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

#navbar .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .main .menu ul {
  display: flex;
}

#navbar .main .menu ul li {
  margin-left: 20px;
  position: relative;
}

#navbar .main .menu ul li a {
  font-size: 18px;
  font-weight: 600;
  color: wheat;
  position: relative;
}

#navbar .main .menu ul li a::before {
  content: "";
  height: 2px;
  width: 0;
  background-color: blueviolet;
  position: absolute;
  top: -19px;
  left: 0;
  transition: 0.4s;
}

#navbar .main .menu ul li a:hover:before {
  width: 100%;
}

#navbar .main .menu .dropdown {
  display: block;
  position: absolute;
  width: 200px;
  background-color: brown;
  top: 40px;
  /* opacity: 0;
  visibility: hidden; */
  transition: 0.4s;
  transition-delay: 0.2s;
  transform: scaleY(0);
  transform-origin: top;
}

#navbar .main .menu .dropdown li {
  margin-left: 0;
  margin-bottom: 10px;
}

#navbar .main .menu .dropdown a:hover:before {
  width: 0;
}
#navbar .main .menu li:hover .dropdown {
  /* opacity: 1;
  visibility: visible; */
  transform: scaleY(1);
  transition: transform 0.2s ease;
}
